{{>header}}
<div>
    <div>
        <img src="{{imgPath}}">
    </div>
    <label>Title:</label>
    <h1>{{title}}</h1>
    <label>Description:</label>
    <p>{{description}}</p>
    <label>Publisher:</label>
    <div>{{publisher}}</div>
    <label>Date:</label>
    <div>{{datePublished}}</div>
</div>
{{>footer}}